<html>
    <body>
        <embed src="/arquivo/<%=consulta[0].id%>#toolbar=0&navpanes=0&scrollbar=0" style="width: 100%; height: 700px"/>
    </body>
</html>

<script type="text/javascript">
    document.querySelector("body").addEventListener('contextmenu', event => event.preventDefault());
</script>