<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />

<style>
    /* CSS for the black border */
    .black-border {
        border: 2px solid black; /* 2px width and black color */
        padding: 20px; /* Add some padding for content spacing */
    }

    img{
      width: 60%;
    }
</style>

<body>

        <form action="/salvar-novo-documento" method="POST">

        <div class="row mt-2">
            <div class="col"><img src="https://www.fibracem.com/wp-content/uploads/2020/11/LOGO-FIBRACEM-5.png" alt=""></div>
            <div class="col">
                <h3 class="mt-4">Controle de Retrabalho/Reprocesso</h3>
            </div>
            <div class="col">
                <div class="row" style="float: right;">
                    <div class="col">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="tipo_doc" value="FOR-EDP-025" name="tipo_doc" readonly>
                        <label for="tipo_doc">Documento:</label>
                      </div>
                        <%const currentDate = new Date();%>
                        Data: <%=currentDate.getDate()%> / <%=currentDate.getMonth() + 1%> / <%=currentDate.getFullYear()%>
                        <br>
                        Rev: 01
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3" style="text-align: center;"><h3 style="font-size: 25px;">QUALIDADE:</h3></div>

        <div class="row">
          <div class="col">
            <div class="form-floating">
              <input type="date" class="form-control" id="tipo_doc" value="FOR-EDP-025" name="data">
              <label for="data">Data:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="inspetor" aria-label="Floating label select example" name="inspetor">
                <option selected value="Inspetor 1">Inspetor 1</option>
                <option value="Inspetor 2">Inspetor 2</option>
                <option value="Inspetor 3">Inspetor 3</option>
                <option value="Inspetor 4">Inspetor 4</option>
              </select>
              <label for="inspetor">Inspetor</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="cod_prod" name="cod_prod" placeholder="Código do Produto:">
              <label for="cod_prod">Código do Produto:</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <textarea class="form-control" name="descri" placeholder="Descrição:" id="descri" style="height: 58px"></textarea>
              <label for="descri">Descrição:</label>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="lote_odf" name="lote_odf" placeholder="Lote/ODF:">
              <label for="lote_odf">Lote/ODF:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="lance" name="lance" placeholder="Lance:">
              <label for="lance">Lance:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="quantidade_metragem" name="quantidade_metragem" placeholder="Quantidade/Metragem:">
              <label for="quantidade_metragem">Quantidade/Metragem:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="cpnc_numero" name="cpnc_numero" placeholder="CPNC/Número:">
              <label for="cpnc_numero">CPNC/Número:</label>
            </div>
          </div>
        </div>

          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" name="motivo_nc" placeholder="Motivo da NC:" id="motivo_nc" style="height: 58px"></textarea>
                <label for="motivo_nc">Motivo da NC:</label>
              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col" style="text-align: center;">
                <button type="submit" class="button-8" style="width: 15%;">Finalizar</button>
            </div>
          </div>
        </form>
</body>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>